nav.navbar.navbar-default.navbar-fixed-top
	.navbar-header
		.container-fluid
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
		a.navbar-brand(href='/')
			img(src="/img/qad_logo.png")
	ul.nav.navbar-form.navbar-right
					.form-group

		
									ul.nav.navbar-nav.navbar-right
										.dropdown
											button#dropdownMenu1.btn.btn-default.dropdown-toggle.checkmenu(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') #{user.username} 
													span.caret
											ul.dropdown-menu(aria-labelledby='dropdownMenu1')
												li
													a(href='/profile') Profile
															li.divider(role='separator')
												li
													a(href='/logout') Log out
