extends layout

block content

  form(action='/createPost', method='POST')
    .form-group
      label Title:
      |
      input#titleInput.form-control(type='text', name='titleInput', placeholder='Title of your message')
    .form-group
      label Message:
      |
      textarea#messageInput.form-control(type='text', rows='5', name='messageInput', placeholder='Type your message here...')
    .form-group
      label Date:
      |
      input#dateInput.form-control(type='text', name='dateInput', placeholder='Fill in American date: 2017-02-25')
    button.btn.btn-primary(type='submit') Submit
