include ./partials/_head.pug
include ./partials/_footer.pug
include ./partials/_scripts.pug
include ./partials/_navbar-register.pug

block content

  .row
    .col-md-4.col-md-offset-4.signupform
      h1 <span class='naam'>Hi #{user.username}!</span> #{allQuestions.question}

      form(action='/createPost', method='POST')
        //- .form-group
        //-   input#titleInput.form-control(type='text', name='titleInput', placeholder='Title of your message', required)
        .form-group
          textarea#messageInput.form-control.scanwid(type='text', value='hey there!', placeholder='Type your answer here...', required, onkeydown='textCounter(this,300);', onkeyup="textCounter(this,'q17length' ,300)", name='q17', rows='5', cols='')
        #rq17
          input#q17length( readonly='', type='text', name='q17length', size='3', maxlength='3', value='300')
          characters

        
        button.btn.btn-primary.submitbutton(type='submit') Submit
