extends layout

block content

    if user
      h1 Answers from the world
      each item in blogList
        .card.card-outline-primary.mb-3.text-center
          .card-block
            blockquote.card-blockquote
              if user
                a(href='/blog/' + item.id)
                  <h3>#{item.title}</h3>
                p #{item.body}
                  footer #{item.createdAt}
                    a(href='https://twitter.com/intent/tweet/')
                      img#tweet(src='/img/tweet.png')
                        
      
      //- 
      //- nav(aria-label='...')
      //-   ul.pager
      //-     li.previous
      //-       a(href='#')
      //-         span(aria-hidden='true') ←
      //-         | Newer 
      //-     li.next
      //-       a(href='#')
      //-         | Older 
      //-         span(aria-hidden='true') →

      //-                 
      //- #footer
      //-     
      //-     p Feeling philosophical? Add questions here!
          
    else
      #header
        .wrap
          .type-wrap
            #typed-strings
              p What did you<br>learn today?
              p What would you do<br>different tomorrow?
              p What is your<br>ultimate dream?
            span#typed(style='white-space:pre;')
          
      .intro-message
        h3 <center>Question A Day</center>
        p#text-intro Were you happy today? Whatever the answer may be, it is an interesting question you don't get asked every day. Question A Day asks you a personal question every day so you can be mindfull of your day and keep track of your life.
      
