extends layout

block content
  
      if user
        .intro-message2
              a(href='/createPost')
                img#new(src="/img/new.png")
      else
        #header
          .wrap
            .type-wrap
              #typed-strings
                p What did you<br>learn today?
                p What would you do<br>different tomorrow?
                p What is your<br>ultimate dream?
              span#typed(style='white-space:pre;')
            
        .intro-message
          h3 <center>Keep track of your mental well-being</center>
          p#text-intro Question A Day asks you a personal question every day so you can reflect, improve and keep track of your mental well-being. Sign up now and start being mindful every day.
      
