extends layout

block content

  each item in blogList
    .card.card-outline-primary.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          if user
            a(href='/blog/' + item.id)
              <h3>#{item.title}</h3>
            p #{item.body}
              footer #{item.date}
          else
            
            .intro-message
              h3 <center>Question A Day</center>
              h2#error-message= message
              p#text-intro Good design is unobtrusive: Products fulfilling a purpose are like tools. They are neither decorative objects nor works of art. Their design should therefore be both neutral and restrained, to leave room for the user’s self-expression.
              
            
