extends layout

block content

    if user
      h1 Answers from the world
      each item in blogList
        .card.card-outline-primary.mb-3.text-center
          .card-block
            blockquote.card-blockquote
              if user
                a(href='/blog/' + item.id)
                  <h3>#{item.title}</h3>
                p #{item.body}
                  footer #{item.date}
                    a(href='https://twitter.com/intent/tweet/')
                      img#tweet(src='/img/tweet.png')
                      
        //- #footer
          
          p Feeling philosophical? Add questions here!
          
    else
      #header
        .wrap
          .type-wrap
            #typed-strings
              p What did you<br>learn today?
              p What would you do<br>different tomorrow?
              p What is your<br>ultimate dream?
            span#typed(style='white-space:pre;')
          
      .intro-message
        h3 <center>Question A Day</center>
        p#text-intro Good design is unobtrusive: Products fulfilling a purpose are like tools. They are neither decorative objects nor works of art. Their design should therefore be both neutral and restrained, to leave room for the user’s self-expression.
      
