doctype html
html
  head
    include ./partials/_head.pug
    body
      // Navbar
      include ./partials/_navbar.pug

      block content

      // Footer
      include ./partials/_footer.pug

      // Scripts
      include ./partials/_scripts.pug
