extends layout

block content

	form(action='/register', method='POST', name='myForm')
		.form-group
			label(for='exampleInputEmail1') Username
			input#exampleInputEmail1.form-control(type='username', name='username', placeholder='Username', required)
		.form-group
			label(for='exampleInputPassword1') Password
			input#exampleInputPassword1.form-control(type='password', name='password', minlength='8', placeholder='Password', required)
			label(for='exampleInputPassword2') Confirm Password
			input#exampleInputPassword2.form-control(type='password', name='password_confirm', minlength='8', placeholder='Confirm password', required, oninput='check(this)')
			script(language='javascript', type='text/javascript').
				function check(input) {
					if (input.value !== document.getElementById('exampleInputPassword1').value) {
						input.setCustomValidity('Password must be Matching.');
					} else {
						// input is valid -- reset the error message
						input.setCustomValidity('');
					}
				}
		button.btn.btn-default(type='submit', value='submit') Register
