@font-face {
    font-family: "Calluna-Regular";
    src: url("/fonts/Calluna-Regular.otf");
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-family: "Karla";
    font-weight: 700;
    font-size: 30px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.navbar-right {
  margin-right:0px;
}
body {
  padding-top: 70px;

}

a {
  color: #00B7FF;
}
/*Navbar*/

/*logo*/
.navbar-brand img{
  max-width:80px;
  max-height: 80px;
}

/*header*/

#header{
  height: 251px;
  padding: 0px;
  margin:0px;
  background-image:url('/img/QAD3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#typed{
  font-size: 30px;
  font-family: "Karla";
  font-weight: 700;
}

.type-wrap{
  padding-left: 180px;
  padding-top: 100px;
}

/*logo*/
.navbar-brand{
  margin-bottom: 11px;
}

.intro-message{
  font-family: 'Karla';
  font-weight: 700;
  letter-spacing: 0em;
  padding-top: 50px;
  display: inline-block;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;

}

#text-intro{
  text-align: center;
  font-family: 'Calluna-Regular';
  font-size: 17px;
  display: inline-block;
  padding-left: 150px;
  padding-right: 150px;

}

.navbar-fixed-top{
  position: absolute;
}
.navbar-default{
  box-shadow: none;
  background-color:transparent!important;
  border-color:transparent!important;
  background-image:none!important;
  box-shadow:none!important;
  border-radius:0!important;
}

.btn-login{
  border-radius:0px;
  margin-right: 50px;
}

#username{
  margin-right: 5px;
}

#password{
  margin-right: 5px;
}

#submit{
  margin-right: 10px;
}

.btn-nav{
  margin-right: 5px;
}

.btn-logout{
  margin-right: 50px;
}

.navbar-text{
  margin-top: 10px;
}
.navbar-default .navbar-link{
  margin-top: 10px;
  color: rgb(28, 201, 98)
}

blockquote{
  text-align: left;
  padding-left: 130px;
  padding-right: 130px;
  font-style: normal;
  border-left: 0px solid #eee; */
}

a:hover{
  text-decoration: none;
  color: rgb(28, 201, 98);
}

blockquote a {
  color: black;
}

blockquote h3 {
  text-align: left;
}

blockquote p {
  font-family: 'Roboto:300', sans-serif;
  font-style: normal;
}

.grabblog h2{
  text-align: left;
  padding-left: 130px;
}
.grabblog footer{
  padding-left: 130px;

}

.grabblog p{
  font-size: 20px;
  padding-left: 130px;
  padding-right: 130px;
  font-family: 'Roboto:300', sans-serif;
}

.blockquote footer{
  font-size: 20px;
  padding-left: 130px;
  padding-right: 130px;
  font-family: 'Roboto:400', sans-serif;
  font-style: italic;
}

.stylecomments{
  font-size: 20px;
  padding-left: 130px;
  padding-right: 130px;
  font-family: 'Roboto:400', sans-serif;
}

.grabblog h3{
  padding-left: 130px;
  padding-right: 130px;
}

.stylepanel{
  padding-left: 130px;
  padding-right: 130px;
}

/*profile styling*/

.profile{
  font-size: 20px;
  padding-left: 130px;
  padding-right: 130px;
}

.profile h3{
  color: black;
}

.profile h3:hover{
  text-decoration: none;
  color: rgb(28, 201, 98);
}

.profile p{
  font-family: 'Roboto:400', sans-serif;
  font-style: italic;


}

.profile h1{
  text-align: center;
}
